/Andre/starter-project-1.5-SNAPSHOT/project/model/target/
/Andre/starter-project-1.5-SNAPSHOT/project/dao-springdata-jpa/target/
/Andre/starter-project-1.5-SNAPSHOT/project/service/target/
/Andre/starter-project-1.5-SNAPSHOT/project/web/target/
/Andre/starter-project-1.5-SNAPSHOT/project/client-rest/target/
/Andre/starter-project-1.5-SNAPSHOT/project/web-client/target/